.strength-section {
    height: 20px;
    width: 50px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: gray;
    display: inline-block;
  }
  
  .weak {
    background-color: red;
  }
  
  .medium {
    background-color: yellow;
  }
  
  .strong {
    background-color: green;
  }