<form [formGroup]="passwordForm">
  <label for="password">Check Password Strength</label>
  <input
    type="password"
    id="password"
    formControlName="password"
    autocomplete="none"
    placeholder="Password"
  />

  <div>
    <div
      class="strength-section"
      [ngClass]="{
        weak: isErrorExist('weak'),
        medium: isErrorExist('medium'),
        strong: isErrorExist('strong')
      }"
    ></div>
    <div
      class="strength-section"
      [ngClass]="{
        weak: isErrorExist('weak') && passwordLength < 8,
        medium: isErrorExist('medium'),
        strong: isErrorExist('strong')
      }"
    ></div>
    <div
      class="strength-section"
      [ngClass]="{
        weak: isErrorExist('weak') && passwordLength < 8,
        strong: isErrorExist('strong')
      }"
    ></div>
  </div>
  
</form>